\# filter=lfs diff=lfs merge=lfs -text
ya filter=lfs diff=lfs merge=lfs -text
estß filter=lfs diff=lfs merge=lfs -text
hecho filter=lfs diff=lfs merge=lfs -text
*.nnue filter=lfs diff=lfs merge=lfs -text
