chardet>=3.0.4
sortedcontainers>=2.1.0
python-chess>=0.28.3
pillow>=7.0.0
pyside2>=5.14.0
cython==0.29.20
psutil>=5.8.0
polib>=1.1.1
deep_translator>=1.11.4
requests>=2.31.0
urllib3>=2.0.7
idna>=2.10
certifi>=2024.2.2
bs4>=1.10.0
